<nav class="navBar">
  <ul>
    <li (click)="checkList()" style="--i:#FF9966;--j:#FF5E62">
      <span class="icon"> <mat-icon aria-hidden="false" aria-label="list icon"
          fontIcon="format_list_bulleted"></mat-icon></span>
      <span class="title">問卷清單</span>
    </li>
    <li (click)="logout()" style="--i:#FF9966;--j:#FF5E62">
      <span class="icon"> <mat-icon aria-hidden="false" aria-label="logout icon" fontIcon="logout"></mat-icon></span>
      <span class="title">登出</span>
    </li>
  </ul>
</nav>