main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 15vh;
  left: 5vw;
  gap: 2vw;
}

ul {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 25px;
}

ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

ul li::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
}

ul li::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  transition: 0.5s;
  filter: blur(15px);
  z-index: -1;
  opacity: 0;
}

ul li:hover {
  width: 180px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

ul li:hover::before {
  opacity: 1;
}

ul li:hover::after {
  opacity: 0.5;
}

ul li mat-icon {
  color: #777;
  font-size: 1.6em;
  transition: 0.5s;
  transition-delay: 0.25s;
}

ul li:hover mat-icon {
  transform: scale(0);
  color: #fff;
  transition-delay: 0s;
}

ul li span {
  position: absolute;
}

ul li .title {
  color: #fff;
  font-weight: 700;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

ul li:hover .title {
  transform: scale(1);
  transition-delay: 0.25s;
}

.cancleBtn {
  padding: 1vh;
  font-weight: 700;
  font-size: 1vw;
  color: white;
  background-color: #4a4948;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: #9a9a99;
    transition: transform 0.75s;
    transform: scale(1.1);
  }

  &:active {
    transition: transform 0.5s;
    transform: scale(0.9);
  }
}

.nextBtn {
  padding: 1vh;
  font-weight: 700;
  font-size: 1vw;
  color: white;
  background-color: #d5a972;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: #f4ba74;
    transition: transform 0.75s;
    transform: scale(1.1);
  }

  &:active {
    transition: transform 0.5s;
    transform: scale(0.9);
  }
}