@if (reviewData && questionnaireBasicInfo) {
<div class="formHeader">
  <div class="formDate">
    <h3>
      可填寫時間： {{questionnaireBasicInfo.startDate}} 至 {{questionnaireBasicInfo.endDate}}
    </h3>
  </div>
  <div class="formTitle">
    <h1>{{questionnaireBasicInfo.name}}</h1>
  </div>
  <div class="formDescription">
    {{questionnaireBasicInfo.description}}
  </div>
</div>

<div class="formContent">

  <div class="formUser">
    <p>姓名： <strong>{{reviewData.answers['inputName'] || '未填寫'}}</strong></p>
    <p>年齡： <strong>{{reviewData.answers['inputAge'] || '未填寫'}}</strong></p>
  </div>

  <hr>

  <div class="formOptionA">
    <legend>選擇一個最喜歡吃的水果（必填）：</legend>
    <strong>{{ reviewData.answers['fruitOption'] || '未選擇' }}</strong>
  </div>

  <div class="formOptionB">
    <legend>請說明理由：</legend>
    <p style="white-space: pre-wrap;">{{ reviewData.answers['inputContent'] || '未填寫理由' }}</p>
  </div>

  <hr>

  <div class="formButton">
    <button class="cancleBtn" (click)="goBack()">返回修改</button>
    <button class="submitBtn" (click)="submitForm()">確認送出</button>
  </div>
</div>
} @else {
<p>沒有預覽資料，請先填寫表單。</p>
}