<main class="review-container">

  @if (surveyData) {
  <div class="header">
    <h1>{{surveyData.name}}</h1>
    <p>{{surveyData.description}}</p>
  </div>

  <div class="review-list">
    @for (item of reviewList; track $index) {
    <div class="review-item">

      <div class="question-title">
        <strong>Q{{$index + 1}}. {{item.questionText}}</strong>
      </div>

      <div class="user-answer">
        <blockquote [ngClass]="{'not-answered': item.userAnswer === '未填寫'}">
          {{item.userAnswer}}
        </blockquote>
      </div>

    </div>
    }
    @empty {
    <p>未找到任何問題或答案。</p>
    }
  </div>
  } @else {
  <p>正在載入問卷結構...</p>
  }

  <div class="formButton">
    <button class="cancleBtn" (click)="goBackToForm()">返回修改</button>

    <button class="submitBtn" (click)="submitForm()" [disabled]="!draftData">送出問卷</button>
  </div>

</main>