main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchHeader {
  display: flex;
  // border: 2px solid #ffa334;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  padding: 1vw;
  border-radius: 0.4vw;
  margin: 1vh 0;
  position: relative;
}

.searchContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 0.5vh 0.5vw;
  font-size: medium;
}

input[type=date] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 0.5vh 0.5vw;
  font-size: medium;
}

.searchDate {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.listTable {
  margin-top: 3vh;
  display: flex;

}

.data-table {
  width: 40%;
  border-collapse: separate;
  /* 合併邊框 */
  border-spacing: 10px;
}

.data-table th,
.data-table td {
  border: none;
  border: 1px solid #d5a972;
  padding: 8px;
  text-align: center;
  white-space: nowrap;

}

.data-table th {
  background-color: #FDC886;
  color: #333333;
  font-weight: 900;
  position: sticky;
  top: 0;
}

.data-table th:first-child {
  border-radius: 15% 0 0 0;
}


.data-table th:last-child {
  border-radius: 0 15% 0 0;
}


.data-table td {
  border: 1px solid #d5a972;
  font-weight: 500;
  padding: 1vh 1vw;
}


/* 斑馬紋效果 (使用 highlight-row class) */
.data-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

button {
  // background-color: #D67C2F;
  color: #D67C2F;
  border: none;
  padding: 0.1vh 0.1vw;
  border-radius: 6px;
  cursor: pointer;
  font-size: medium;
  font-weight: 900;
  line-height: 1.5;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #eeeeee;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

button:active {
  background-color: #A85A1A;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
  transform: translateY(1px);
}
