<div class="formHeader">
  <div class="formDate">
    <h3>可填寫時間： {{currentFormData?.startDate}} 至 {{currentFormData?.endDate}}</h3>
  </div>
  <div class="formTitle">
    <h1>{{currentFormData?.name}}</h1>
  </div>
  <div class="formDescription">
    {{currentFormData?.description}}
  </div>
</div>

<div class="formContent">
  <div class="formUser">
    <p>姓名<input [(ngModel)]="inputName" type="text"></p>
    <p>年齡<input [(ngModel)]="inputAge" type="text"></p>

  </div>

  <div class="formOptionA">
    <fieldset style="display: flex; flex-direction: column; gap: 1vw;">
      <legend>選擇一個最喜歡吃的水果（必填）：</legend>

      <div>
        <input type="radio" [(ngModel)]="fruitOption" name="fruit" value="apple" checked />
        <label for="apple">蘋果</label>
      </div>

      <div>
        <input type="radio" [(ngModel)]="fruitOption" name="fruit" value="banana" />
        <label for="banana">香蕉</label>
      </div>

      <div>
        <input type="radio" [(ngModel)]="fruitOption" name="fruit" value="grape" />
        <label for="grape">葡萄</label>
      </div>
    </fieldset>
  </div>

  <div class="formOptionB">
    <fieldset>
      <legend>請說明理由：</legend>
      <textarea style="
        padding: 10px;
        max-width: 100%;
        line-height: 1.5;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #999;" name="reason" row="5" cols="40" placeholder="50字以內" maxlength="50"
        [(ngModel)]="inputContent"></textarea>
    </fieldset>
  </div>


  <div class="formButton">
    <button class="cancleBtn" routerLink="/list">返回</button>
    <button class="reviewBtn" (click)="previewForm()" routerLink="/review">預覽</button>
  </div>
</div>